@{
    ViewBag.Titulo = "Cadastro de Funcionário";
}

@model CadastrarFuncionarioViewModel;

<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class="card shadow-sm">
            <div class="card-header">
                <h5 class="card-title my-1">Informações do Funcionário</h5>
            </div>
            <div class="card-body">
                <form asp-action="Cadastrar" method="post">
                    <div class="mb-3">
                        <label asp-for="Nome" class="form-label">Nome Completo</label>
                        <input class="form-control" asp-for="Nome" placeholder="Ex: João da Silva">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Telefone" class="form-label">Telefone</label>
                        <input class="form-control" asp-for="Telefone" placeholder="Ex: (49) 99999-9999">
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Cpf" class="form-label">CPF</label>
                        <input class="form-control" asp-for="Cpf" placeholder="Ex: 123.456.789-00">
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>

                    <div class="card-footer bg-transparent text-end">
                        <a asp-action="Index" class="btn btn-outline-secondary px-4">Voltar</a>
                        <button type="submit" class="btn btn-primary px-4">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>